/pdfparser/cpp/pybind11
/pdfparser/cpp/build

/env
.idea
.vscode
/internal

__pycache__/
*.py[cod]
*$py.class

src/docs
src/tessdata
src/*.png

*.pdf
*.png
*.jpeg
*.jpg
*.tiff
*.odt
*.tag
*.html
*.xml
*.ppm
*.bmp
*.pgm