ABBYY==0.3
absl-py==0.10.0
addict==2.4.0
alabaster==0.7.8
apache-beam==2.27.0
appdirs==1.4.4
apturl==0.5.2
argcomplete==1.10.0
asgiref==3.3.1
astroid==2.4.2
astunparse==1.6.3
attrs==19.3.0
avro-python3==1.10.1
Babel==2.6.0
beautifulsoup4==4.8.0
bitarray==1.6.3
black==20.8b1
blessings==1.7
blinker==1.4
blis==0.7.4
Brlapi==0.7.0
cachetools==4.2.0
catalogue==1.0.0
certifi==2019.11.28
cffi==1.14.4
chardet==3.0.4
click==7.1.2
click-plugins==1.1.1
cloudpickle==1.6.0
cluster==1.4.1.post3
colorama==0.4.3
coloredlogs==15.0.1
command-not-found==0.3
contextlib2==0.6.0.post1
coverage==5.5
crcmod==1.7
cryptography==2.8
cupshelpers==1.0
cupy-cuda112==8.5.0
cycler==0.10.0
cymem==2.0.5
Cython==0.29.21
dataclasses==0.6
datefinder-lexpredict==0.6.2.1
dateparser==0.7.2
DBSCAN-multiplex==1.5
dbus-python==1.2.16
decorator==4.4.2
defer==1.0.6
detectron2==0.3
dframcy==0.1.6
dill==0.3.4
distlib==0.3.1
distro==1.4.0
distro-info===0.23ubuntu1
Django==3.1.6
dm-tree==0.1.5
dnspython==1.16.0
docopt==0.6.2
docutils==0.16
docx2txt==0.8
EbookLib==0.17.1
editdistance==0.6.0
efficientnet==1.0.0
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.0.0/en_core_web_md-3.0.0-py3-none-any.whl
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
en-core-web-trf @ https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.0.0/en_core_web_trf-3.0.0-py3-none-any.whl
entrypoints==0.3
essential-generators==1.0
extract-msg==0.23.1
fastavro==1.2.3
fastrlock==0.6
filelock==3.0.12
fire==0.4.0
flake8==3.9.2
Flask==1.1.2
flatbuffers==1.12
fonttools==4.33.3
ftfy==5.9
future==0.18.2
fvcore==0.1.3.post20210225
gast==0.3.3
gensim==3.8.3
ghostscript==0.7
gin-config==0.4.0
google-api-core==1.24.1
google-api-python-client==1.12.8
google-auth==1.24.0
google-auth-httplib2==0.0.4
google-auth-oauthlib==0.4.2
google-cloud-bigquery==2.6.1
google-cloud-core==1.5.0
google-cloud-vision==2.2.0
google-crc32c==1.1.0
google-pasta==0.2.0
google-resumable-media==1.2.0
googleapis-common-protos==1.52.0
gpg===1.13.1-unknown
gpustat==0.6.0
gpyocr==1.4
grpcio==1.32.0
gym==0.21.0
h5py==2.10.0
hdfs==2.5.8
httplib2==0.19.1
huggingface-hub==0.7.0
humanfriendly==10.0
idna==2.8
imageio==2.9.0
imagesize==1.2.0
IMAPClient==2.1.0
imgaug==0.4.0
importlib-metadata==1.5.0
importlib-resources==4.1.1
imutils==0.5.4
iniconfig==1.1.1
iopath==0.1.4
ipp==2021.2.0
ipp-include==2021.2.0
ipp-static==2021.2.0
isort==5.7.0
itsdangerous==1.1.0
jellyfish==0.6.1
jenkspy==0.2.0
Jinja2==2.11.3
joblib==0.14.0
JPype1==1.4.0
jsonschema==4.5.1
kaggle==1.5.10
keras==2.8.0
Keras-Applications==1.0.8
keras-contrib @ git+https://www.github.com/keras-team/keras-contrib.git@3fc5ef709e061416f4bc8a92ca3750c824b5d2b0
keras-crf==0.1.1
keras-metrics==1.1.0
keras-ocr @ git+https://github.com/faustomorales/keras-ocr.git@40bb9bddda0e2449db636f7ff39faa735b0f8f25
Keras-Preprocessing==1.1.2
keras-self-attention==0.49.0
keybert==0.2.0
keyring==18.0.1
kiwisolver==1.3.1
language-selector==0.1
launchpadlib==1.10.13
layoutparser==0.1.3
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lazy-object-proxy==1.4.3
libclang==13.0.0
libcst==0.3.17
lightdm-gtk-greeter-settings==1.2.2
llvmlite==0.36.0
louis==3.12.0
lvis==0.5.3
lxml==4.6.2
macaroonbakery==1.3.1
Mako==1.1.4
Markdown==3.3.3
MarkupSafe==1.1.1
matplotlib==3.3.3
mccabe==0.6.1
mediapipe==0.8.9.1
menulibre==2.2.1
mmcv==0.6.2
mmcv-full==1.3.2
mmpycocotools==12.0.3
mock==2.0.0
more-itertools==4.2.0
mpmath==1.2.1
mugshot==0.4.2
multiprocess==0.70.12.2
murmurhash==1.0.5
mypy-extensions==0.4.3
netifaces==0.10.4
networkx==2.5.1
nltk==3.5
num2words==0.5.10
numba==0.53.1
numexpr==2.7.3
numpy==1.22.0
nvidia-ml-py3==7.352.0
oauth2client==4.1.3
oauthlib==3.1.0
object-detection==0.1
olefile==0.46
onboard==1.4.1
onnxruntime==1.12.1
opencv-contrib-python==4.5.1.48
opencv-python==4.5.1.48
opencv-python-headless==4.5.1.48
opt-einsum==3.3.0
ordered-set==4.0.2
packaging==21.3
pandarallel==1.5.2
pandas==1.2.0
pandas-read-xml==0.3.1
pathos==0.2.8
pathspec==0.8.1
pathy==0.4.0
pbr==5.5.1
pdf2docx==0.5.1
pdf2image==1.14.0
pdflatex==0.1.3
pdfminer==20191125
pdfminer.six==20211012
pdfparser==0.1.3
pdfplumber==0.6.0
pdfreader==0.1.9
pdfrw==0.4
pexpect==4.6.0
Pillow==9.0.0
pipenv==2021.5.29
plac==1.1.3
plotext==4.1.3
pluggy==0.13.1
portalocker==2.2.1
pox==0.3.0
ppft==1.6.6.4
preshed==3.0.5
promise==2.3
proto-plus==1.13.0
protobuf==3.14.0
psutil==5.8.0
py==1.10.0
py-cpuinfo==7.0.0
pyahocorasick==1.4.1
pyarrow==2.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyate==0.5.5
PyAudio==0.2.12
pycairo==1.16.2
pyclipper==1.3.0.post2
pyclustering==0.10.1.2
pycocotools==2.0.2
pycodestyle==2.7.0
pycountry==20.7.3
pycparser==2.20
pycrypto==2.6.1
pycryptodome==3.10.1
pycuda==2021.1
pycups==1.9.73
pydantic==1.7.3
pydot==1.4.1
pyenchant==2.0.0
pyflakes==2.3.1
pyglet==1.5.21
Pygments==2.3.1
PyGObject==3.36.0
PyJWT==1.7.1
PyLaTeX==1.4.1
pylint==2.6.0
pymacaroons==0.13.0
pymongo==3.11.2
pymp-pypi==0.4.3
PyMuPDF==1.18.9
PyNaCl==1.3.0
pyocr==0.8
pyopencl==2021.2.5
pyparsing==2.4.7
PyPDF2==2.1.0
PyQt5==5.14.1
pyresparser==1.0.6
pyRFC3339==1.1
pyrsistent==0.18.1
pysbd==0.3.4
PySocks==1.6.8
pytest==6.2.4
pytest-cov==2.12.1
python-apt==2.0.0+ubuntu0.20.4.6
python-dateutil==2.8.1
python-debian===0.1.36ubuntu1
python-docx==0.8.10
python-Levenshtein==0.12.2
python-mnist==0.7
python-pdfbox==0.1.8.1
python-poppler==0.2.2
python-pptx==0.6.18
python-slugify==4.0.1
pytools==2021.2.7
pytz==2019.3
PyWavelets==1.1.1
pyxdg==0.26
PyYAML==5.4.1
regex==2020.7.14
reporters-db==2.0.3
reportlab==3.5.34
requests==2.25.1
requests-oauthlib==1.3.0
requests-unixsocket==0.2.0
roman==2.0.0
rope==0.18.0
rsa==4.6
sacremoses==0.0.43
scikit-image==0.18.2
scikit-learn==0.23.1
scipy==1.5.1
screen-resolution-extra==0.0.0
seaborn==0.11.1
SecretStorage==2.3.1
sentence-transformers==2.2.0
sentencepiece==0.1.94
seqeval==1.2.2
sgt-launcher==0.2.5
Shapely==1.8.2
simplejson==3.16.0
sip==4.19.21
six==1.15.0
smart-open==3.0.0
sortedcontainers==2.3.0
soupsieve==2.2.1
spacy==2.3.5
spacy-alignments==0.7.2
spacy-legacy==3.0.1
spacy-transformers==1.0.1
SpeechRecognition==3.8.1
Sphinx==1.8.5
sqlparse==0.4.1
srsly==1.0.5
swigibpy==0.4.1
swtloc==1.1.1
sympy==1.8
systemd-python==234
tables==3.6.1
tabulate==0.8.9
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.7.0
tensorflow==2.8.0
tensorflow-addons==0.12.0
tensorflow-datasets==4.2.0
tensorflow-estimator==2.4.0
tensorflow-hub==0.11.0
tensorflow-io-gcs-filesystem==0.24.0
tensorflow-metadata==0.26.0
tensorflow-model-optimization==0.5.0
termcolor==1.1.0
terminaltables==3.1.0
tesserocr==2.5.1
text-unidecode==1.3
textract==1.6.3
tf-estimator-nightly==2.8.0.dev2021122109
tf-models-official==2.4.0
tf-slim==1.1.0
tf2crf==0.1.32
Theano==1.0.5
thinc==7.4.5
threadpoolctl==2.1.0
tia==0.3.0
tifffile==2021.7.2
tika==1.24
tokenizers==0.12.1
toml==0.10.2
torbrowser-launcher==0.3.2
torch==1.7.1
torchcontrib==0.0.2
torchvision==0.8.2
tox==3.24.0
tox-travis==0.12
tqdm==4.48.0
transformers==4.19.2
typed-ast==1.4.2
typeguard==2.10.0
typer==0.3.2
typing-extensions==3.7.4.3
typing-inspect==0.6.0
tzlocal==1.5.1
ubuntu-advantage-tools==27.4
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
Unidecode==1.1.1
unpyclib==0.8.1
uritemplate==3.0.1
urllib3==1.26.4
us==2.0.2
usb-creator==0.3.7
validators==0.19.0
virtualenv==20.4.2
virtualenv-clone==0.5.6
wadllib==1.3.3
Wand==0.6.7
wasabi==0.8.2
wcwidth==0.2.5
Werkzeug==1.0.1
wrapt==1.12.1
xcffib==0.8.1
xkit==0.0.0
xlrd==1.2.0
XlsxWriter==1.4.0
xmltodict==0.12.0
yacs==0.1.8
yapf==0.31.0
zipfile36==0.1.3
zipp==1.0.0
